@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);

  --color-primary: #8fa082; /* Sage green */
  --color-primary-dark: #6b7a60;
  --color-background: #faf9f6; /* Off-white / cream */
  --color-surface: #ffffff;
  --color-text-main: #333333;
  --color-text-muted: #666666;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-text-main);
  }
}
